/* Header Section */
.header {
  flex: 0 1 8%; /* Take 8% of the container height */
  display: flex;
  justify-content: space-between; /* Align left and right */
  align-items: center;
  background-color: #000;
  color: #00FFFF;
  padding: 30px 20px;
}

.site-name {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Courier New', monospace;
}

/* First letter styling */
.site-name::first-letter {
  font-size: 1.7em;
  color: #fffc32; /* Yellow first letter */
  font-weight: bold;
}

.history ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.history li {
  font-size: 1em;
  margin-bottom: 4px;
}

/* History list styling */
#history-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.history-item {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f0f4f8;
  color: #333;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.history-item:hover {
  background-color: #00FFFF;
  color: #000;
}

/* Mark for history items */
.history-item::before {
  content: "✔ ";
  color: #00CC99;
  font-weight: bold;
}
